<h2>
  <%= @site.name%>
  <a href='<%=@site.url%>'>&gt;&gt;</a>
  <% if @site.respond_to?(:updateWebDelayed) %>
    <%=link_to "Update", :action=>"update", :url=>@site.url%>
  <% end %>
  <%= render :partial => 'valued_new', :locals=>{:site=>@site,:watcher=>@userEntity,:before=>@site}%>
</h2>

<%= render :partial => "controls"%>

<div class='site_content'>
  <%=RssHelper.secureInnerHtml(@site.description,@site.url) %>
</div>

<%= render :partial => 'tag_list',:locals=>{:tags=>@tags}%>

<div class='selector'>
  <div class='children_head' onclick='toggleParentsChildren("children");'>
    Children (<%=@children.length%>)
  </div>
  <div class='slash_head'>
    <img src='/images/slash.png'>
  </div>
  <div class='parents_head' onclick='toggleParentsChildren("parents");'>
    Parents (<%=@parents.length%>)
  </div>
</div>
<div class='list_view'>
  <div id='children'>
    <%= render :partial => "item_list",:locals=>{:list=>@children} %>
  </div>
  <div id='parents' style='display:none;' >
    <%= render :partial => "item_list",:locals=>{:list=>@parents} %>
  </div>
</div>

